# **Analysis of startup funding and valuation trends**

Inspecting the dataset to see what the fields look like.

In [3]:
--Inspect the data and limit the output to 5 records
select * from public.companies
limit 5

   company_id               company         city        country      continent
0         189  Otto Bock HealthCare   Duderstadt        Germany         Europe
1         848            Matrixport                   Singapore           Asia
2         556            Cloudinary  Santa Clara  United States  North America
3         999                 PLACE   Bellingham  United States  North America
4         396             candy.com     New York  United States  North America

In [2]:
--Inspect the data and limit the output to 5 records
select * from funding 
limit 5

   company_id  ...                                   select_investors
0         189  ...                                       EQT Partners
1         848  ...  Dragonfly Captial, Qiming Venture Partners, DS...
2         556  ...              Blackstone, Bessemer Venture Partners
3         999  ...                 Goldman Sachs Asset Management, 3L
4         396  ...  Insight Partners, Softbank Group, Connect Vent...

[5 rows x 4 columns]

1.  Which countries and continents have the highest total funding for startup?

In [23]:
SELECT DISTINCT public.companies.country, public.companies.continent, COUNT(funding) AS "number of funding"
FROM public.companies
INNER JOIN public.funding ON public.companies.company_id = public.funding.company_id
GROUP BY public.companies.country, public.companies.continent
ORDER BY "number of funding" DESC
LIMIT 5;

          country      continent  number of funding
0   United States  North America                562
1           China           Asia                173
2           India           Asia                 65
3  United Kingdom         Europe                 43
4         Germany         Europe                 26

2.  What are the top industries that receive the most funding and have the highest valuations?

In [20]:
select count(Industry), industry, funding, valuation from public.funding
inner join public.industries
on public.funding.company_id = public.industries.company_id
group by public.funding.valuation, public.funding.funding, public.industries.industry
order by count desc
limit 5

   count                         industry     funding   valuation
0      4     Internet software & services   200000000  1000000000
1      4  E-commerce & direct-to-consumer  1000000000  3000000000
2      3                          Fintech   314000000  1000000000
3      3            Auto & transportation  1000000000  3000000000
4      3          Artificial intelligence  1000000000  4000000000

3.  How does the funding landscape differ between developed and emerging markets?

In [2]:
SELECT
    CASE 
        WHEN continent = 'North America' OR continent = 'Europe' THEN 'Developed'
        ELSE 'Emerging' 
    END AS market,
    AVG(funding) AS avg_funding,
    COUNT(*) AS num_startups
FROM
    public.companies
    INNER JOIN public.funding
    ON public.companies.company_id = public.funding.company_id
GROUP BY 
    market

      market   avg_funding  num_startups
0   Emerging  6.175409e+08           342
1  Developed  5.199740e+08           732

4.  What are the top 10 most funded startups and what industries are they in?

In [22]:
select company, sum(funding) as "Funding", industry
from public.companies
inner join public.funding on public.companies.company_id = funding.company_id
inner join public.industries on companies.company_id = public.industries.company_id
group by company, industry
order by "Funding" desc
limit 10

              company      Funding                             industry
0           JUUL Labs  14000000000                    Consumer & retail
1           Bytedance   8000000000              Artificial intelligence
2          Epic Games   7000000000                                Other
3              SpaceX   7000000000                                Other
4         J&T Express   5000000000  Supply chain, logistics, & delivery
5       Global Switch   5000000000                             Hardware
6              Swiggy   5000000000  Supply chain, logistics, & delivery
7  Xingsheng Selected   5000000000      E-commerce & direct-to-consumer
8            Fanatics   4000000000      E-commerce & direct-to-consumer
9             Argo AI   4000000000              Artificial intelligence

5.  What are the top 5 investors by total funding and how do their investment strategies vary by industry?

In [26]:
select select_investors as "Investor", sum(funding) as "Total_Funding",
industry
from public.funding 
inner join public.industries
on funding.company_id = industries.company_id
group by  industry, select_investors
order by "Total_Funding" desc 
limit 5

                                            Investor  ...                             industry
0                            Tiger Global Management  ...                    Consumer & retail
1  Sequoia Capital China, SIG Asia Investments, S...  ...              Artificial intelligence
2  Founders Fund, Draper Fisher Jurvetson, Rothen...  ...                                Other
3              Tencent Holdings, KKR, Smash Ventures  ...                                Other
4  Accel India, SAIF Partners, Norwest Venture Pa...  ...  Supply chain, logistics, & delivery

[5 rows x 3 columns]

6.   Which industries have the highest growth rates in terms of funding and valuations?

In [27]:
select industry, sum(funding) as "funding", sum(valuation) as "Valuation"
from funding
inner join public.industries
on funding.company_id = industries.company_id
group by industry
order by "funding" desc 
limit 5

                              industry       funding     Valuation
0                              Fintech  107996000000  882000000000
1      E-commerce & direct-to-consumer   74437000000  426000000000
2         Internet software & services   72955000000  595000000000
3              Artificial intelligence   46802000000  377000000000
4  Supply chain, logistics, & delivery   44393000000  177000000000

# Sales analysis

1.  Which product lines have the highest sales and revenue?

In [2]:
SELECT product_line, SUM(quantity) AS total_sales, SUM(total) AS total_revenue
FROM sales
GROUP BY product_line
ORDER BY total_revenue DESC
LIMIT 5;

            product_line  total_sales  total_revenue
0  Suspension & traction         2145       73014.21
1           Frame & body         1619       69024.73
2      Electrical system         1698       43612.71
3        Breaking system         2130       38350.15
4                 Engine          627       37945.38

2.  What is the average order size and revenue per order for each warehouse location?

In [7]:
select warehouse, avg(quantity) as "average_order_size", sum(total)/sum(quantity) as "revenue_per_order"
from public.sales
group by warehouse
limit 10

  warehouse  average_order_size  revenue_per_order
0      West            8.966667          29.074653
1     North            9.570588          30.793986
2   Central            9.431250          31.363570

3.  How does sales performance vary across different client types?

In [9]:
select client_type, sum(quantity) as "Sales", sum(total) as "Amount"
from public.sales
group by client_type

  client_type  Sales     Amount
0   Wholesale   5180  159642.33
1      Retail   4215  129470.67

4.  Which product line generates the highest profit margin?

In [14]:
select product_line, (sum(total) - sum((quantity)+(unit_price))) as "Profit"
from public.sales
group by product_line
order by "Profit" desc
limit 5

            product_line    Profit
0  Suspension & traction  63124.08
1           Frame & body  60295.58
2      Electrical system  36976.78
3                 Engine  33652.78
4        Breaking system  32139.83

5.   Which client type has the highest average order value?

In [17]:
select client_type, avg(total) as "highest_average_order" from public.sales
group by client_type 
ORDER BY client_type desc

  client_type  highest_average_order
0   Wholesale             709.521467
1      Retail             167.058929